.hero-section {
  position: relative;
  width: 100vw;
  height: auto;
  background-image: linear-gradient(
      179.63deg,
      $main-dark 5.75%,
      $main-dark-82 29.19%,
      $main-dark-0 52.56%
    ),
    linear-gradient( 1.44deg, $main-dark 6.65%, $main-dark-0 28.99%),
    url("/public/assets/images/hero-section-background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}